{% extends "base.html.twig" %}

{% block body %}
	<h1 class="m-2 text-center">Nový projekt</h1>
	<hr>
	<form action="">
		<div class="mb-3">
			<label for="projekt-name" class="form-label">Název projektu</label>
			<input type="text" class="form-control" id="projekt-name" aria-describedby="nameHelp">
			<div id="nameHelp" class="form-text">Zde vyplňte název nového projektu / kroužku</div>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1">
		</div>
		<div class="mb-3">
			<label for="popisProjektu" class="form-label">Popis nového projektu</label>
			<textarea class="form-control" id="popisProjektu" rows="3"></textarea>
		</div>

		<label for="exampleDataList" class="form-label">Datalist example</label>
		<input class="form-control flexdatalist" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." type="text" data-min-length='1' multiple='multiple' name="vyber">
		<datalist id="datalistOptions">
			<option value="San Francisco"></option>
			<option value="New York"></option>
			<option value="Seattle"></option>
			<option value="Los Angeles"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>

			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Chicago"></option>
			<option value="Los Angeles"></option>

			<option value="Los Angeles"></option>
			<option value="Los Angeles"></option>
			<option value="Los Angeles"></option>
			<option value="Los Angeles"></option>
			<option value="Los Angeles"></option>
			<option value="Los Angeles"></option>


		</datalist>


		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}
