{% extends "base.html.twig" %}

{% block body %}
	<div class="row mt-3 project-body">
		<div class="col-lg-4 profile-col">
			<h3 class="m-0">Florbalový kroužek</h3>
			<span class="badge bg-dark">kroužek</span>
			<h5 class="mt-2 mb-2" style="font-weight: normal">
				<i class="fas fa-crown"></i>
				Mgr. Václav Klečka ml.
			</h5>

			<p class="profile-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta nobis vitae saepe excepturi distinctio dignissimos aliquam dolor cum adipisci, architecto numquam nulla velit at, possimus veniam reprehenderit natus quaerat?</p>
			<p class="m-0">
				<i class="fas fa-user-check"></i>
				53 Členů
			</p>

			<p>
				<i class="fas fa-users"></i>
				109 Sledujících
			</p>
		</div>

		<div class="col-lg-8 profile-content">
			<ul class="nav nav-tabs" id="projectTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="prispevky-tab" data-bs-toggle="tab" href="#prispevky" role="tab" aria-controls="prispevky" aria-selected="true">Příspěvky</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="clenove-tab" data-bs-toggle="tab" href="#clenove" role="tab" aria-controls="clenove" aria-selected="false">Členové</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="udalosti-tab" data-bs-toggle="tab" href="#udalosti" role="tab" aria-controls="udalosti" aria-selected="false">Události</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="media-tab" data-bs-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Média</a>
				</li>
			</ul>
			<div class="tab-content" id="profileTabContent">
				<div class="tab-pane fade show active project-posts" id="prispevky" role="tabpanel" aria-labelledby="prispevky-tab">
					<div class="project-post-wrapper">
						<div class="project-post-profilepic">
							<img src="http://localhost:8081/img/logo1.jpg" alt="">
						</div>
						<div class="project-post-content">
							<p class="project-post-author">Martin Růžek
								<br>
								<span class="badge bg-primary">student</span>
								<span class="badge bg-light text-dark">I4</span>
							</p>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
						</div>
					</div>
					<div class="project-post-wrapper">
						<div class="project-post-profilepic">
							<img src="http://localhost:8081/img/logo1.jpg" alt="">
						</div>
						<div class="project-post-content">
							<p class="project-post-author">Václav Klečka ml.
								<span class="badge bg-danger">správce koroužku</span>
							</p>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
						</div>
					</div>
					<div class="project-post-wrapper">
						<div class="project-post-profilepic">
							<img src="http://localhost:8081/img/logo1.jpg" alt="">
						</div>
						<div class="project-post-content">
							<p class="project-post-author">Martin Růžek
								<span class="badge bg-primary">student</span>
								<span class="badge bg-light text-dark">I4</span>
							</p>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
						</div>
					</div>
					<div class="project-post-wrapper">
						<div class="project-post-profilepic">
							<img src="http://localhost:8081/img/logo1.jpg" alt="">
						</div>
						<div class="project-post-content">
							<p class="project-post-author">Martin Růžek
								<span class="badge bg-primary">student</span>
								<span class="badge bg-light text-dark">I4</span>
							</p>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
						</div>
					</div>
					<div class="project-post-wrapper">
						<div class="project-post-profilepic">
							<img src="http://localhost:8081/img/logo1.jpg" alt="">
						</div>
						<div class="project-post-content">
							<p class="project-post-author">Martin Růžek
								<span class="badge bg-primary">student</span>
								<span class="badge bg-light text-dark">I4</span>
							</p>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores velit, consequatur eos dolore, eum nihil atque eius reprehenderit fuga veritatis, id perferendis placeat fugit dolores. Doloremque ipsum excepturi impedit. Minus.</p>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="clenove" role="tabpanel" aria-labelledby="clenove-tab">
					Členové
				</div>
				<div class="tab-pane fade" id="udalosti" role="tabpanel" aria-labelledby="udalosti-tab">
					Události
				</div>
				<div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
					Média
				</div>
			</div>
		</div>
	</div>

{% endblock %}
