.serach-users {
    background: #eee;
    width: 100%;
    padding: 20px;
    border-radius: 0.5rem;

    .search-user-link {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }
}

.serach-projects {
    background: #eee;
    width: 100%;
    padding: 20px;
    border-radius: 0.5rem;

    .search-project-link {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }
}

.serach-posts {
    background: #eee;
    width: 100%;
    padding: 20px;
    border-radius: 0.5rem;

    .search-post-link {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }
}