@import 'project';
@import 'user';
@import 'admin';
@import 'footer';
@import 'search';

.landing {
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .showcase-ib {
        width: 100%;
        border-radius: 1rem;
        border: 1px solid #ccc;

        margin: 20px 0px 20px 0px;
        padding: 20px;

        img {
            width: 50%;
        }
    }
}

.round-img {
    border-radius: 50%;
}

.abs {
    background-color: red;
    width: 100%;
    height: 100%;
}

.nicelink {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}