{% extends('base.html.twig') %}

{% block title %}Projekty SPŠ Ostrov
{% endblock %}

{% block body %}
	<div class="landing">
		<h1 class="text-center">Prosím přihlaste se pro přístup k aplikaci</h1>
		<a href="/ssologin">
			<button type="button" class="btn btn-outline-danger m-2">Přihlásit se</button>
		</a>
	</div>
{% endblock %}
