{% extends "base.html.twig" %}

{% block body %}
	<h1 class="m-2 text-center">Odebírané</h1>
	<hr>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>
	<a href="#" class="profile-projects-link">
		<div class="profile-projects-card">
			<div class="profile-projects-card-image">
				<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
			</div>

			<div class="profile-projects-card-text">
				<h5>Florbalový kroužek</h5>
			</div>
		</div>
	</a>

{% endblock %}
