{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center">Pro přístup na tuto stránku nemáte dostatečná práva</h1>
	<p class="text-center">
		<a href="{{ path('main') }}">Zpět na hlavní stránku</a>
	</p>
{% endblock %}
