{% extends "base.html.twig" %}

{% block body %}
	<div class="row mt-3">
		<div class="col-sm-4 profile-col">
			<h3 class="m-0">Martin Růžek</h3>
			<span class="badge bg-primary">student</span>
			<h5 class="m-0" style="font-weight: normal">I4</h5>

			<p class="profile-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dicta nobis vitae saepe excepturi distinctio dignissimos aliquam dolor cum adipisci, architecto numquam nulla velit at, possimus veniam reprehenderit natus quaerat?</p>
		</div>

		<div class="col-sm-8 profile-content">
			<ul class="nav nav-tabs" id="profileTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="prispevky-tab" data-bs-toggle="tab" href="#prispevky" role="tab" aria-controls="prispevky" aria-selected="true">Příspěvky</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="projekty-tab" data-bs-toggle="tab" href="#projekty" role="tab" aria-controls="projekty" aria-selected="false">Projekty</a>
				</li>
			</ul>
			<div class="tab-content" id="profileTabContent">
				<div class="tab-pane fade show active" id="prispevky" role="tabpanel" aria-labelledby="prispevky-tab"></div>
				<div class="tab-pane fade" id="projekty" role="tabpanel" aria-labelledby="projekty-tab">
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>
					<a href="#" class="profile-projects-link">
						<div class="profile-projects-card">
							<div class="profile-projects-card-image">
								<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
							</div>

							<div class="profile-projects-card-text">
								<h5>Florbalový kroužek</h5>
							</div>
						</div>
					</a>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
