{% extends "base.html.twig" %}

{% block body %}
	{% if session.get('username') == username %}
		<h1 class="text-center m-2">Moje projekty</h1>
		{% for project in projects %}
			<a href="{{ path('project.project', {id: project.id}) }}" class="profile-projects-link">
				<div class="profile-projects-card">
					<div class="profile-projects-card-image">
						<img src="http://localhost:8081/img/logo1.jpg" alt="logo">
					</div>
					<div class="profile-projects-card-text">
						<h5>{{ project.name }}</h5>
					</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<h1 class="text-center m-5">Pro přístup k této stránce nemáte oprávnění</h1>
		<a href="/" class="btn btn-secondary mx-auto d-block" style="width:20%">Zpět na úvodní stránku</a>
	{% endif %}
{% endblock %}
