{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center m-2">Nastavení</h1>
	<hr>

	<h3>Vzhled</h3>
	<p>Tmavý režim</p>
	<h3>Vaše týmy</h3>
	<p>Ukazovat, kterých projektů jsem členem</p>

{% endblock %}
